<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Thiết bị khách hàng</title>
    <script type="text/javascript" th:src="@{/js/customerDevice.js}" defer></script>
</head>
<body>
<br>
<div layout:fragment="content" th:remove="tag">
    <div class="col-md-7 col-md-offset-3">
        <form id="create_form" action="#" th:action="@{/customerDevice/update}" th:object="${customerDeviceRequest}"
              method="POST">
            <input type="hidden" th:field="*{id}">
            <input type="hidden" th:field="*{codeOld}" id="device_codeOld">
            <input type="hidden" th:field="*{staffId}">
            <input type="hidden" id="staffDepartmentValue" th:field="*{staffDepartment}">

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="customerName">Khách hàng</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="text" th:field="*{customerName}" id="customerName" class="create_and_edit_form"
                           autofocus="autofocus"
                           placeholder="Khách hàng">
                    <label id="customerName_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="deviceCode">Mã tài sản</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="text" th:field="*{deviceCode}" id="deviceCode" class="create_and_edit_form"
                           placeholder="Mã tài sản">
                    <label id="deviceCode_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="description">Mô tả thiết bị</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="text" th:field="*{description}" id="description" class="create_and_edit_form"
                           autofocus="autofocus"
                           placeholder="Mô tả thiết bị" style="min-height: 50px;">
                    <label id="description_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="staffEmail">Email nhân viên</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="text" th:field="*{staffEmail}" id="staffEmail" class="create_and_edit_form"
                           autofocus="autofocus"
                           placeholder="Email nhân viên">
                    <label id="staffEmail_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="staffName">Tên nhân viên</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="text" th:field="*{staffName}" id="staffName" class="create_and_edit_form"
                           autofocus="autofocus"
                           placeholder="Tên nhân viên">
                    <label id="staffName_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label class="title_form" for="staffDepartment">Phòng ban</label>
                    <label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <select type="text"
                            id="staffDepartment"
                            name="staffDepartment"
                            th:field="*{staffDepartment}"
                            onchange="changeElement('staffDepartment','Bộ phận')"
                            class="create_and_edit_form"
                            autofocus="autofocus">
                        <option th:value="''" th:text="'Bộ phận'"></option>
                        <option th:each="value : ${departments}" th:value="${value.value}"
                                th:text="${value.value}"></option>
                        <option th:value="'Khác'" th:text="'Khác'"></option>
                    </select>
                    <div id="staffDepartmentNone">
                    </div>
                    <label id="staffDepartment_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="col-md-3 label_for_form">
                    <label for="handOverDay">Ngày bàn giao</label><label class="compulsory">*</label>
                </div>
                <div class="col-md-7">
                    <input type="date" th:field="*{handOverDay}" id="handOverDay" class="create_and_edit_form"
                           autofocus="autofocus"
                           placeholder="Ngày bàn giao">
                    <label id="handOverDay_errors" th:class="error"></label>
                </div>
            </div>

            <div class="form-group create_form">
                <div class="row">
                    <div>
                        <input type="button" name="submit" class="btn btn-primary col-sm-2 col-md-offset-3"
                               value="Cập Nhật" id="update">
                        <td><a th:href="@{/customerdevice/list}" class="btn btn-danger col-sm-2 col-md-offset-2">Hủy</a>
                        </td>
                    </div>
                </div>
            </div>
        </form>

        <div class="modal fade" role="dialog" id="successModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    </div>
                    <div class="modal-body">
                        <div class="icon">
                            <span class="glyphicon glyphicon-thumbs-up"></span>
                        </div>
                        <div class="content-modal">
                            <h2>THÀNH CÔNG!</h2>
                            <p>Cập nhật thiết bị thành công</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</body>
</html>