<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="header">
    <nav class="menu navbar navbar-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" th:href="@{/home}">
                    <img th:src="@{/img/Untitled-5.png}" alt="memorynotfound logo"/>
                </a>
            </div>
            <div id="navbar" class="page collapse navbar-collapse">
                <ul class="menu__list nav navbar-nav navbar-right">
                    <li class="menu__group"><a th:href="@{/home}" class="menu__link">Trang chủ</a></li>
                    <li class="menu__group"><a th:href="@{/user/list}" class="menu__link">Quản lý hệ thống</a></li>
                    <li th class="menu__group"><a th:href="@{/companydevice/list}" class="menu__link">Thiết bị công
                        ty</a></li>
                    <li class="menu__group"><a th:href="@{/testdevice/list}" class="menu__link">Thiết bị test</a></li>
                    <li class="menu__group"><a th:href="@{/customerdevice/list}" class="menu__link">Thiết bị
                        khách hàng</a></li>
                    <li class="menu__group"><a th:href="@{/individualdevice/list}" class="menu__link">Thiết bị
                        cá nhân</a></li>
                    <li class="menu__group"><a th:href="@{/logout}" class="menu__link">Đăng xuất</a></li>
                </ul>
            </div>
        </div>
    </nav>
</th:block>
</body>
</html>