<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout_login}">
<head>
    <title>Login</title>
</head>
<body id="login_site" style="background-image: url(/img/background.png)">
<div layout:fragment="content" th:remove="tag">
    <form action="#"  th:object="${passwordRequest}" >
        <div class="form-group center-block" style="width:40%; margin-top: 15%">
            <label for="newPassword">Mật Khẩu Mới</label>
            <input type="password" class="form-control" th:field="*{newPassword}" id="newPassword" name="newPassword" placeholder="Mật khẩu mới">
            <label id="newPassword_errors" class="error"></label>
        </div>
        <div class="form-group center-block" style="width:20%">
            <input type="button"
                   name="login-submit"
                   id="changeBtn"
                   class="form-control btn btn-info"
                   value="Đổi Mật Khẩu">
        </div>
    </form>
</div>
</body>
</html>