table {
    width: 100%;
}

label {
    display: inline-flex;
    margin-bottom: .5rem;
    margin-top: .5rem;
}

.descriptionType, .etcForm, div#companyList_length.dataTables_length, div#companyList_info.dataTables_info, .returnDateForm {
    display: none;
}
.descriptionType.active, etcForm.active, .returnDateForm.active {
    display: inline-block;
}

.createSearch > div {
    display: inline-block;
}

th, td {
    font-size: small;
}

th.sorting {
    width: 10%;
}

/*#edit_form {*/
/*    padding-top: 0 !important;*/
/*}*/

#labelDescription {
    display: none;
}

#create_new {
    float: right;
}

div.dataTables_wrapper div.dataTables_paginate {
    margin: 0 0 5% 0;
    white-space: nowrap;
}

#iconSearch {
    margin-left: 30px;
}

.container {
    padding-right: 50px;
    padding-left: 50px;
}

.has-feedback .form-control {
    padding-right: 60px;
}

#text_search {
    background-color: #b0ffeb;
}

.badgebox {
    opacity: 0;
}

.badgebox + .badge {
    text-indent: -999999px;
    width: 27px;
}

.badgebox:focus + .badge {
    box-shadow: inset 0px 0px 5px;
}

.badgebox:checked + .badge {
    text-indent: 0;
}

label {
    margin: 0 0 0 0;
}

.checkbox + .checkbox, .radio + .radio {
    margin-top: 0px;
}

table.dataTable thead > tr > th.sorting, table.dataTable thead > tr > td.sorting_asc, table.dataTable thead > tr > td.sorting_desc, table.dataTable thead > tr > td.sorting {
    padding-right: 1%;
}

.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 40px;
    margin-left: -15px;
    margin-top: 10px;
}

.form-group {
    margin-bottom: 30px !important;
}

.returnDateForm.active {
    display: inline-block;
    width: 100% !important;
}

.glyphicon-trash:before {
    padding-left: 25%;
    content: "\e020";
}

.checkbox, .radio {
    margin: 0 0 2px 6px;
    height: 34px;
}

:disabled {
    background: #dddddd;
}

button.dt-button, div.dt-button, a.dt-button {
    height: 34px;
    width: 77px;
    padding-top: 4px;
    margin-left: 32px;
}

.badge {
    margin-left: 2px;
}

.dt-button.buttons-excel.buttons-html5.btn-primary {
    font-family: exo, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 4px;
    height: 34px;
    width: 94.16px !important;
    margin-left: 20px;
    padding: 6px 14px !important;
    border: #2e6da4 !important;
}

.dt-button.buttons-excel.buttons-html5.btn-primary:hover {
    background-color: #426c9e;
}

