<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="UTF-8">
    <title>Quản lý thiết bị cá nhân</title>
</head>
<body>
<div class="container" layout:fragment="content" th:remove="tag">
    <div class="row">
        <div id="example_filter" class="dataTables_filter">
            <label>
                <div class="form-group has-feedback">
                    <input id="text_search" class="form-control form-control-sm" placeholder="Tìm kiếm"
                           aria-controls="example" autofocus="autofocus">
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </label>
            <a id="create_new" th:href="@{/individualdevice/create}" class="btn btn-primary col-sm-1">TẠO MỚI</a>
        </div>
        <table id="table" class="table table-striped table-bordered center" style="width:100%">
            <thead class="titletable">
            <tr>
                <th style="display: none;"></th>
                <th style="width:9%">Tên nhân viên</th>
                <th style="width:8%">Bộ phận</th>
                <th style="width:6%">Email</th>
                <th style="width:8%">Mã tài sản</th>
                <th style="width:11%">Mô tả thiết bị</th>
                <th style="width:9%">Ngày bắt đầu</th>
                <th style="width:9%">Thời hạn sử dụng</th>
                <th style="width:10%">Hoạt động</th>
            </tr>
            </thead>
            <tbody id="table_view">
            </tbody>
        </table>
    </div>

    <div class="modal fade" role="dialog" id="ModalDelete">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Xác nhận</h4>
                </div>
                <div class="modal-body">
                    <p>Bạn có muốn xóa thông tin thiết bị này phải không?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" id="DeleteButton">Xóa</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Hủy</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="detailModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title">Chi tiết thiết bị</h4>
                </div>
                <div class="modal-body modal-detail table table-striped" id="detailCompany">
                    <table class="table table-striped table-bordered center">
                        <tr>
                            <td class="modal_body_title">Mã tài sản:</td>
                            <td class="modal_body_content"><p id="codeDeviceModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Mô tả thiết bị:</td>
                            <td class="modal_body_content"><p id="detailDeviceModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Tên nhân viên:</td>
                            <td class="modal_body_content"><p id="nameStaffModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Email nhân viên:</td>
                            <td class="modal_body_content"><p id="emailStaffModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Bộ phận:</td>
                            <td class="modal_body_content"><p id="departmentModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Người tạo:</td>
                            <td class="modal_body_content"><p id="createPersonModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Người chỉnh sửa:</td>
                            <td class="modal_body_content"><p id="editPersonModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Ngày bắt đầu:</td>
                            <td class="modal_body_content"><p id="startDateModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Thời hạn sử dụng:</td>
                            <td class="modal_body_content"><p id="endDateModal"></p></td>
                        </tr>
                        <tr>
                            <td class="modal_body_title">Lý do:</td>
                            <td class="modal_body_content"><p id="reasonModal"></p></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="individualDevice" th:remove="tag">
    <script type="text/javascript" th:src="@{/js/individualDevice.js}"></script>
</div>
</body>
</html>